body {
    display: grid;
}

#app {
    font-family: Poppins, sans-serif;
}

header {
    width: 100%;
}

a:visited {
    color: unset;
}

.p-tooltip-text {
    font-size: 13px;
}

.p-divider.p-divider-horizontal:before {
    border-top-style: solid;
}
